body{
    background-color: #1e1e1e;
    color:#a0a0a0;
    font-family: sans-serif;
    line-height: 1.6;
}
.main_container{
    display:grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin:auto;
}
.sidebar{
    height:90vh;
    background-color:#2a2a2a;
    border: solid #3a3a3a;
    border-radius:16px;
}
.main_content{
    padding-left: 10px;
    background-color: #2a2a2a;
    border: solid #3a3a3a;
    border-radius:6px;
}
.profile img{
    margin-top: 10px;
    height:140px;
    width: 140px;
    border: solid #3a3a3a;
    border-radius:50%;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    width:140px;
    text-align: center;
    background-color:#1e1e1e;
    padding: 5px 15px;
    color:#FFBF00;
    border: 1px solid #3a3a3a;
    border-radius:8px;
    font-size:0.8rem;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 30px;
}
.profile{
    text-align: center;
}
.contact{
    margin-top: 20px;
    border-top: 1px solid #3a3a3a;
    margin-left: 10px;
}
.contact h3{height:1rem;}
.contact p{height:1rem;}

.social{
    padding-top: 10px;
    border-top: 1px solid #3a3a3a;
    margin-left: 10px;
    text-align: center;
}
.social img{
    height:40px;
    width:40px;
    filter: grayscale(1) invert(1);
}
.social img:hover{
    filter: grayscale(0) invert(0);
}
#navigation{
    padding: 20px 10px;
}
nav{display:flex;
    justify-content:flex-end;
    gap:10px;
}
nav a{text-decoration: none;
color:#FFBF00}

nav a:hover{
    color:#e0e0e0}

.item{
    padding:20px ;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top:20px;
    transition: tranform 0.3s ease, box-shadow 0.3s ease ;
}

.item img{
    height: 48px;
    width: 48px;
    filter:invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 50;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px #FFBF00 ;
}
/* Education */

#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #a0a0a0;
}

.edufirst, .edusecond{
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

/* for that yellow dots */
.goale{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    position:absolute ;
    top: 5px;
    left: 0px;
    z-index: 5;
}

/* for the line before text */
.liner{
    position: absolute;
    width: 2px;
    top:0px;
    bottom:0px;
    left: 5px;
    border: 2px solid #3a3a3a;
}

/* PORTFOLIO */

